hal_client_domain(system_server, hal_miniv_ai)
allow system_server hal_miniv_ai_server:binder { call transfer };

type miniv_ai_service, service_manager_type;

allow system_server miniv_ai_service:service_manager { add };
allow platform_app miniv_ai_service:service_manager { find };
allow priv_app miniv_ai_service:service_manager { find };
